body {
  font: 14px/1.5 Helvetica Neue,
    Helvetica,
    Arial,
    Microsoft Yahei,
    Hiragino Sans GB,
    Heiti SC,
    WenQuanYi Micro Hei,
    sans-serif;
  color: #333;
}

.topbar {
  width           : 100%;
  height          : 40px;
  background-color: #333;
}

.container {
  width : 1226px;
  height: 100%;
  margin: 0 auto;
}

.topbar .topbar_list {
  float: left;
}

.topbar .shop {
  float           : right;
  width           : 120px;
  height          : 40px;
  line-height     : 40px;
  text-align      : center;
  margin-left     : 15px;
  background-color: #424242;
}



.topbar .loginbar {
  float: right;

}

.topbar a {
  font-size  : 12;
  color      : #b0b0b0;
  display    : inline-block;
  line-height: 40px;
}

.topbar a:hover {
  color: white;
}

.topbar .shop a {
  display: inline-block;
  height : 40px;
  width  : 120px;
}

.topbar span {
  margin: 0 0.5em;
  color : #424242;
}

.topbar .downloadapp {
  position: relative;
}

.downloadapp img {
  width   : 120px;
  position: absolute;
  right   : -40px;
  top     : 40px;
  display : none;
}

.downloadapp:hover img {
  display: block;
}
